* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background-color: red; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  border: 3px solid rgb(0, 0, 0);
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 253, 214);
  padding-top: 0px;
}
div {
  /* display: inline; */
  height: 150px;
  width: 50px;
  transition: all 1s;
  text-align: center;
  padding-top: 60px;
  border: 2px solid rgb(0, 0, 0);
  border-bottom-left-radius: 8px;
}
div:hover {
  cursor: pointer;
}
.black {
  color: white;
  background-color: black;
  /* margin-left: -390px; */
  margin-bottom: 90px;
}
.white {
  /* margin-left: -350px; */
  background-color: white;
}
/* #C {
  margin-right: -120px;
} */
#wrapper {
  position: absolute;
  top: 180px;
  left: 25px;
  width: 500px;
  border: 2px solid red;
}
.playing {
  transform: scale(0.95);
}
code {
  background-color: antiquewhite;
}
